{% from "macro.html" import main_navigation %}
<html>
    <head>
        <title>{{team_name}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/series.css')}}">
    </head>
    <body>
        {{main_navigation()}}
        <h1>{{team_name}}</h1>

        <!-- Insert content here... -->

        <form id="update_team" method="post">
            <label>Update Team Name (It must be unique):</label>
            <input type="text" name="name">
        </form>
        <button form="update_team">Save</button>

        <br>
        Note: Upon deletion, all entries the team is linked to will remain but without a link to any team
        <button onclick="DeleteTeam()">Delete Team</button>
    </body>
</html>
<script>
function DeleteTeam() {
    fetch(window.location.href, {method: 'DELETE'})
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(error => console.log(error))
    }

</script>