altgraph==0.17.4
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.13.1
bs4==0.0.2
cffi==1.17.1
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pefile==2024.8.26
proxy_tools==0.1.0
pycparser==2.22
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pythonnet==3.0.3
pywebview==5.2
pywin32-ctypes==0.2.3
soupsieve==2.5
typing_extensions==4.12.2
Werkzeug==3.0.3
