<html>
    <head>
        <title>
            {{ series }}
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/series.css')}}">
    </head>
    <body>
        <h1>{{ series }}</h1>

        <!-- Season List -->
        <table>
            <tr id="header">
                {% for header in season_headers %}
                <td>
                    <b>{{header}}</b>
                </td>
                {% endfor %}
            </tr>
            {% for season in season_stats %}
            <tr>
                {% for stat in season %}
                <td>
                    {% if loop.index == 1 %}
                        <a href="/points/{{series}}/{{stat}}">{{stat}}</a>
                    {% else %}
                        {{stat}}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>


        <!-- driver data -->
         <h2>Driver Data</h2>
        <table>
            <tr id="header">
                {% for header in driver_headers %}
                <td>
                    <b>{{header[0]}}</b>
                </td>
                {% endfor %}
            </tr>
            {% for season in driver_stats %}
            <tr>
                {% for stat in season %}
                    <td>
                        {% if loop.index == 2 %}
                            <a href="/driver/{{stat}}">{{stat}}</a>
                        {% else %}
                            {{stat}}
                        {% endif %}            
                    </td>
                {% endfor %}    
            </tr>
            {% endfor %}
        </table>

    </body>
</html>