{% from "./season/season_nav.html" import season_nav %}

<html>
    <head>
        <title>Manual Points Edit</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/series.css')}}">
    </head>
    <body>
        {{season_nav(series, season)}}
        
        You can add or remove points for a driver manually.

        To do so, enter the points adjustment in the box before each driver and then click the Save button.

        <form id="manual_points" method="post"></form>

        <table>
            <tr>
                <td>
                    Driver
                </td>
                <td>
                    Points
                </td>
            </tr>
            {% for driver in drivers %}
            <tr>
                <td>
                    {{driver['name']}}
                </td>
                <td>
                    <input type="number" name="d-{{driver['id']}}" size="8" value="{{driver['points']}}" form="manual_points">
                </td>
            </tr>
            {% endfor %}
        </table>

        Entrant form
        <table>
            <tr>
                <td>
                    Entrant
                </td>
                <td>
                    Points
                </td>
            </tr>
            {% for entrant in entrants %}
            <tr>
                <td>
                    {{entrant['number']}}
                </td>
                <td>
                    <input type="number" name="e-{{entrant['id']}}" size="8" value="{{entrant['points']}}" form="manual_points" >
                </td>
            </tr>
            {% endfor %}
        </table>

        <button form="manual_points">
            Save
        </button>
    </body>
</html>