{% from "./macro.html" import main_navigation %}

{% macro season_nav(series, season) %}
    {{main_navigation()}}
    <ul class="nav">
        <li>
            <a href="/series/{{series}}/{{season}}/">Schedule</a>   
        </li>
        <li>
            <a href="/series/{{series}}/{{season}}/points/">Points</a>
        </li>
        <li>
            <a href="/series/{{series}}/{{season}}/change_points/">Change Points</a>
        </li>
        <li>
            <a href="/series/{{series}}/{{season}}/adjust_points/">Manual Points Edit</a>
        </li>

    </ul>
{% endmacro %}