{% from "./season/season_nav.html" import season_nav%}
<!DOCTYPE html>
<head>
    <title>Season Standings</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/series.css')}}">
</head>
<body>
    <!-- Navbar -->
    {{season_nav(series, season)}}

    <table>
        <tr>
            {% for header in header %}
                <td>
                    <b>{{ header }}</b>
                </td>
            {% endfor %}
                <td>
                    <b>BEHIND</b>
                </td>
                <td>
                    <b>NEXT</b>
                </td>
        </tr>
        {% for row in records %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            {% for value in row %}
                <td>
                    {% if loop.first %}
                        <a href="/driver/{{value}}/{{series}}/{{season}}">{{ value }}</a>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
            {% if loop.index == 1 %}
                <td>
                    LEADER
                </td>
                <td>
                    LEADER
                </td>
            {% else %}
                <td>
                    {{ row[-1] - records[0][-1]}}
                </td>
                <td>
                    {{ row[-1] - records[loop.index0 - 1][-1]}}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>