tr#header td {
    border-style: double;
    border-right: none;
    border-left: none;
    border-top: none;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav > li {
    display: inline;
}

.nav > li > a {
    padding: 8px;
}