{% from "macro.html" import initial_deletion, confirm_deletion, main_navigation with context %}
<!DOCTYPE html>
<head>
    <title>{{driver}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/series.css')}}">
</head>
<body>
    {{ main_navigation() }}
    <h1>
        Statistics for {{driver}}
    </h1>

    <!-- Table of stats for each series driver has participated in -->
    {% for series in series_records.keys() %}
        <h2>
            Statistics in {{ series[1] }}
        </h2>
        <table>
            <tr>
                {% for header in header %}
                    <td><b>
                        {{ header }}
                    </b></td>
                {% endfor %}
            </tr>
            {% for row in series_records[series] %}
                <!-- last loop -->
                {% if loop.last %}
                    <tr>
                        <!-- for indicies 2 to 6, 1-based index -->
                        {% set suffixes = ['all/', 'win/', 'top5/', 'top10/', 'pole/'] %}
                        {% for value in row %}
                            <td>
                                <b>
                                    {% if loop.index >= 2 and loop.index <= 6 %}
                                        <a href="/driver/{{driver}}/{{series[0]}}/{{suffixes[loop.index-2]}}">{{value}}</a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </b>
                            </td>
                        {% endfor %}
                    </tr>
                {% else %}
                   
                    <tr>
                        {% for value in row %}
                            <td>
                                {% if loop.first %}
                                    <a href="/series/{{series[0]}}/{{value}}/">{{value}}</a>
                                {% elif loop.index == 2 %}
                                    <a href="/driver/{{driver}}/{{series[0]}}/{{loop.previtem}}">{{value}}</a>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    
                {% endif %}
            {% endfor %}
        </table>
        <br>
        <br>
    {% endfor %}

    {% if series_records.keys() | length == 0 %}
        {{ initial_deletion('Note: Driver can only be re-added if they are a part of a submitted race.', 'Delete Driver') }}
    {% endif %}
</body>
{% if series_records.keys() | length == 0 %}
<script>
    {{ confirm_deletion('Another Warning: This action cannot be undone.')}}
</script>
{% endif %}    