{% macro navLink(name, endpoint) %}
    <li class="nav-item">
        <a href="{{ endpoint }}">
            {{name}}
        </a>
    </li>
{% endmacro %}

{% macro initial_deletion(msg, button_txt) %}
<br><br><br>
<hr>
<b style="color: red">{{msg}}</b>
<button onclick="ConfirmDeletion()">
    {{button_txt}}
</button>
{% endmacro %}

{% macro confirm_deletion(msg) %}
function ConfirmDeletion() {
    var confirmed = confirm("{{msg}}")
    if (confirmed) {
        fetch("./delete", {method: 'DELETE'})
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(error => console.log(error))
    }
}
{% endmacro %}