<html>
    <head>
        <title>
            {{info['name']}}
        </title>
    </head>
    <body>
        <h1>
            {{info['name']}}
        </h1>
        <p>
            Series: <a href="/series/{{info['series_id']}}/">{{info['series_name']}}</a> <br>
            Season: <a href="/series/{{info['series_id']}}/{{info['season']}}/">{{info['season']}}</a> <br>

            Track: {{info['track_name']}} <br>
            Length: {{info['track_length']}} miles <br>
            Type: {{info['track_type']}} <br>
            Is plate? {{info['track_plate']}} <br>
        </p>
        <br>
        <table>
            <tr>
                <td>Finish</td>
                <td>Start</td>
                <td>#</td>
                <td>Driver</td>
                <td>Interval</td>
                <td>Laps</td>
                <td>Led</td>
                <td>Points</td>
                <td>Status</td>
            </tr>
            {% for record in records %}
            <tr>
                {% for field in record %}
                <td>
                    {{field}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>