{% from "macro.html" import navLink, initial_deletion, confirm_deletion with context %}
<html>
    <head>
        <title>
            {{ season }}
        </title>
    </head>
    <body>
        <!-- Navbar -->
        <ul>
            {{ navLink('Home', '/') }}
            {{ navLink('Points', "./points") }}
        </ul>

        <h1>
            {{ series_name ~ ", Season " ~ season ~ " Schedule"}}
        </h1>
        <table>
            <!-- header row -->
             <tr>
                <td>
                    #
                </td>
                <td>
                    Track
                </td>
                <td>
                    Winner
                </td>
             </tr>
             <!-- data row -->
            {% for race in schedule %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{race[0]}}</td>
                    <td>{{race[1]}}</td>
                </tr>
            {% endfor %}
        </table>

        {{ initial_deletion("WARNING: DELETING THE SEASON WILL DELETE ALL ASSOCIATED RACES.", "Delete Season") }}

    </body>
    <script>
        {{ confirm_deletion("ANOTHER WARNING: EVERY RACE ASSOCIATED WITH THIS SEASON WILL BE DELETED. THIS ACTION CANNOT BE UNDONE.") }}
    </script>
</html>