<html>
    <head>
        <title>
            {{track_info[0]}}
        </title>
    </head>
    <body>
        <h1>{{track_info[0]}}</h1>
        Track Length (miles): {{track_info[1]}} <br>
        Plate Track? {{'Yes' if track_info[2] else 'No'}} <br>
        Track Type: {{track_info[3]}} <br>
        
        <hr>

        {% for series in records.keys() %}
            <h2>{{series[1]}}</h2>
            <table>
                <tr>
                    {% for header in headers %}
                        <td>
                            <b>
                                {{header}}
                            </b>
                        </td>
                    {% endfor %}
                </tr>
                {% for record in records[series] %}
                    <tr>
                        {% for field in record %}
                            {% if loop.first %}
                                <td>
                                    <a href="/series/{{series[0]}}/{{field}}/">{{field}}</a>
                                </td>
                            {% elif loop.index0 >= 4 and loop.index0 <= 5 %}
                                <td>
                                    <a href="/driver/{{field}}">{{field}}</a>
                                </td>
                            {% else %}
                                <td>
                                    {{field}}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}

        <br><br><br>
        <hr>
        <b style="color: red">WARNING: DELETING TRACK WILL REMOVE ALL RACES ASSOCIATED WITH IT FROM ALL SEASONS. THIS ACTION CANNOT BE UNDONE.</b>
        <button onclick="ConfirmDeletion()">
            Delete Track
        </button>
    </body>

    <script>
        function ConfirmDeletion() {
            var confirmed = confirm("ANOTHER WARNING: EVERY RACE RUN ON THIS TRACK WILL BE DELETED. THIS ACTION CANNOT BE UNDONE.")
            if (confirmed) {
                fetch("./delete", {method: 'DELETE'})
                    .then(response => {
                        if (response.redirected) {
                            window.location.href = response.url;
                        }
                    }).catch(error => console.log(error))
            }
        }
    </script>
</html>