{% from "macro.html" import main_navigation with context %}

<html>
    <head>
        <title>Tracks</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/series.css')}}">
    </head>
    <body>
        {{ main_navigation() }}
        <h1>Tracks</h1>
        <table>
            <!-- Header Row-->
             <tr>
                {% for header in track_headers[1:] %}
                <td>
                    <b>
                        {{ header[0] }}
                    </b>
                </td>
                {% endfor %}
             </tr>

             <!-- Data Row -->
              {% for record in track_data %}
              <tr>
                {% for field in record[1:] %}
                    <td>
                        {% if loop.index == 1 %}
                            <a href="./{{record[0]}}">
                                {{ field }}
                            </a>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                {% endfor %}
              </tr>
              {% endfor %}
        </table>
        <hr>
        <!-- Form for adding a new track -->
        Add a new track:
        <br>
        <br>
        <form method="post">
            Enter Track Name:
            <input name="track_name" type="text" required>
            <br><br>
            Track Length (miles):
            <input name="track_length" type="number" required step="0.001">
            <br><br>
            Is this a restrictor plate / drafting track?
            <input name="uses_plate" type="checkbox" value="yes" disabled>
            <br><br>
            What type of track is it?
            <select name="track_type" required>
                <option value="1">Street Course</option>
                <option value="2">Road Course</option>
                <option value="3">Dirt Oval</option>
                <option value="4">Paved Oval</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        {% if message %}
            <i style="color: red;">{{message}}</i>
        {% endif %}
    </body>
</html>